body{
	margin:0;
	overflow:hidden;
}

#map{
	width:100%;
	height:100vh;
}

#filter-bar{
	position:fixed;
	left:10px;
	top:73px;
	height:100%;
	padding-bottom:83px;
	box-sizing:border-box;
}

#filter-bar > ol{
	background-color:white;
	border-radius:4px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	padding:10px;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	max-height:100%;
	overflow:auto;
	box-sizing:border-box;
}

/* hide the checkbox */
#filter-bar .filter{
	display: none;
}

#filter-bar label{
	cursor:pointer;
}

#filter-bar .filter:checked + label {
  color:#348ACC;
}